.github/**
/Users/deemaalsheddi/Desktop/project/pdsnd_github/chicago (2).csv
/Users/deemaalsheddi/Desktop/project/pdsnd_github/new_york_city.csv
/Users/deemaalsheddi/Desktop/project/pdsnd_github/washington.csv